/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* End Font */

/* Start Body */
body {
    color : black;
    font-family: Roboto,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 12;
    line-height:1.5em;
    margin:0px;
}
/* End Body */

/* Start Debug */
.w-biru{
    background-color: rgba(111, 111, 153, 0.26);
    padding:20px;
}
.w1-merah{
    background-color: rgba(255, 0, 0, 0.315);
}
/* End Debug */

/* Start Container */
.container{
    margin:10px auto;
    overflow:auto;
    width: 90%;
}
.container_full{
    margin:10px auto;
    overflow:auto;
    width: 100%;
}
/*End Container */

/* Start Logo */
.logo{
    text-align: center;
}
/* End Logo */

/* Start Menu Primer */
.menu_primer ul{
    background-color: #aae739d2;
    border-radius:4px;
    box-shadow: 
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0px rgba(0,0,0,.14),
    0 1px 18px 0px rgba(0,0,0,.12);
}

.menu_primer li{
    border-right: 1px solid #d1d6df;
    display:inline-block;
    margin: 8px  8px ;
}

.menu_primer a{
    color : #ffffff;
    font-size: 13px;
    display: inline-block;
    letter-spacing:2px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu_primes a:hover{
    background-color:black;
    color:greenyellow;
    text-decoration:none;
}

.menu_primer .active{
    background-color:  rgba(89, 0, 255, 0.315);
    color:#333333;
    text-decoration:none;
}
/* End Menu Primer */

/* Start Anchor /Hyperlink */
a:link,
a:visited{
    color:#0366df;
    text-decoration:none;
}
a:hover,
a:active{
    color:#000000;
    text-decoration:underline;
}
/* End Anchor /Hyperlink */


/* Start Heading */
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    letter-spacing: 1px;
}
h1{
    font-size:24px;
}
h2{
    font-size:20px;
}
h3{
    font-size:18px;
}
h4{
    font-size:14px;
}
h5{
    font-size:14px;
}
h6{
    font-size:12px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron{
    background-color: #f6f8fa;
    border: 1px solid #eaffcc;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1{
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3{
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Main*/
.main-home-one{
    float:left;
    width:49.5%;
}
.main-home-two{
    float:right;
    width:49.5%;
}

.main-home-one .box_isi,
.main-home-two .box_isi
{
    height:140px;
}

/* End Main */

/* Start Box */
.box_heading{
    background-color: #f6fafd;
    border: 1px solid #d2d3d4;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
    text-transform:uppercase;
}
.box_heading h4{
    font-size:14px;
    margin :0;
}
.box_isi{
    background-color: #f6fafd;
    border: 1px solid #e2d3d4;
    border-top:0;
    margin:0;
    padding: 10px 20px;
   }
/* End Box */
/* Start Testimonial */
.testimonial{
    border-left: 4px solid #defa24;
    margin-left: 0;
    height: 80px;
    padding: 10px 25px;
}
/* End Testimonial */

/* Start Layanan Table */
.layanan-table{
    border: 1px solid #d2d5df;
    border-collapse: collapse;
    margin: auto;
    width: 100%
}
.layanan-table th{
    background-color:#f3d7f3;
}
.layanan-table td{
    text-align:center;
}
/* End Layanan Table */

/* Start Form */
input[type="text"],
input[type="email"],
textarea{
    font-size:14px;
    padding :10px;
}

input::placeholder,
textarea::placeholder{
    color:#888888;
    font-weight:300;
}

input[type="submit"],
.button{
    background-color:#cff3f6;
    background-image:linear-gradient(-180deg,#fafbfc 0%,#eff3f6 90%);
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 4px;
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing:1px;
}
/* End Form */

/* Start Contact Form */
.contact-form div{
    margin:20px 0;
}
/* End Contact Form */
/* Start Menu Sekunder */
.menu_sekunder{
   background-color: #f4f8fa;
   border-bottom: 1px solid #eaecef;
   border-top:1px solid #eaecef;
   overflow: auto;
   padding: 10px 0;
}
.menu_sekunder h4{
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu_sekunder ul{
    padding:0;
}
.menu_sekunder li{
   list-style:dish;
}
.menu_sekunder li,a,
.menu_sekunder p{
    font-size: 15px;
}
.menu_sekunder_one,
.menu_sekunder_two,
.menu_sekunder_three{
    float: left;
}
.menu_sekunder_one{
    width:40%;
}
.menu_sekunder_two,
.menu_sekunder_three{
    width:30%;
}
.menu_sekunder li img{
    vertical-align: middle;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p{
    font-size: 15px;
}
/* End Copyright */